footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #777;
    text-align: center;
    color: white;
    padding: 10px 0; 
}

.div-footer {
    background: rgb(255, 30, 0);
    width: 29%;
    margin: 0;
    padding: 2%;
    display: inline-block;
}

.h1-footer {
    font-size: 1em;
    margin: 0; 
    padding: 0; 
}